<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Admin Page</title>
  	<link rel="stylesheet"  href="../static/css/style-admin.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
</head>
<body>
  	<div class="container">
        <h1>Witaj, {{ username }}!</h1>
        <div class="background" style="cursor: pointer;"><div class="button" onclick="location.href='/editing'">Edycja pytań</div></div>
        <div class="background" style="cursor: pointer;"><div class="button" onclick="location.href='/charts'">Generowanie wykresów</div></div>
        <div class="background" style="cursor: pointer;"><div class="button" id="export-btn">Eksport danych</div> 	</div>   	
  	</div>
    <div class="bottom-bar">
      <div class="container-emblem">
        <img class="emblem" alt="emblem" src="../static/pictures/emblem.png">
      </div>
      <div class="container-log">
          <a href="{{ url_for('logout') }}" class="log-out" style="cursor: pointer;">Wyloguj się</a>
      </div>
    </div>
    <script>
      document.getElementById('export-btn').onclick = function() {
        window.location.href = '/export-responses';
      };
    </script>
</body>
</html>