<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Admin Page</title>
  	<link rel="stylesheet"  href="../static/css/style-admin.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
</head>
<body>
  	<div class="container">
        <h1>Witaj, {{ username }}!</h1>
        <div class="background" style="cursor: pointer;"><div class="button" data-url="{{ url_for('admin.editing_page') }}" onclick="location.href = this.dataset.url">Edycja pytań</div></div>
        <div class="background" style="cursor: pointer;"><div class="button" data-url="{{ url_for('admin.charts_page') }}" onclick="location.href = this.dataset.url">Generowanie wykresów</div></div>
        <div class="background" style="cursor: pointer;"><div class="button" id="export-btn" data-url="{{ url_for('admin.export_responses') }}" >Eksport danych</div>  	</div>   
  	</div>
    <div class="bottom-bar">
      <div class="container-emblem">
        <img class="emblem" alt="emblem" src="../static/pictures/emblem.png">
      </div>
      <div class="container-log">
          <a href="{{ url_for('auth.logout') }}" class="log-out" style="cursor: pointer;">Wyloguj się</a>
      </div>
    </div>
    <script>
      document.getElementById('export-btn').onclick = function() {
        const url = this.dataset.url;
        window.location.href = url;
      };
    </script>
</body>
</html>