<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Charts</title>
  <link rel="stylesheet" href="../static/css/style-charts.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
</head>
<body>
  <img class="arrow" src="../static/pictures/arrow-left.png" onclick="location.href='/admin'" style="cursor: pointer;">

  <div class="container">
    <h1>Generowanie wykresów</h1>

    <div class="section">
      <label>Wybierz rodzaj wykresu:</label>
      <div class="select-wrapper">
        <select id="chart-type-select">
          <option value="bar" selected>Wykres słupkowy</option>
          <option value="pie">Wykres kołowy</option>
        </select>
      </div>
    </div>

    <div class="section">
      <label>Wybierz etykietę X:</label>
      <div class="select-wrapper">
        <select id="x-label-select">
          <option value="">-- Wybierz --</option>
        </select>
      </div>
    </div>
    <div class="section">
      <label>Wybierz etykietę Y:</label>
      <div class="select-wrapper">
        <select id="y-label-select">
          <option value="">-- Wybierz --</option>
        </select>
      </div>
    </div>

    <div class="button" id="generate-btn">Generuj</div>
    <div class="chart-wrapper">
      <canvas id="myChart" style="width: 100%; margin-top: 2rem;"></canvas>
    </div>
    <div class="button" id="download-btn" style="margin-top:1rem;">Pobierz wykres</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
  
</body>
</html>
