<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question editing</title>
    <link rel="stylesheet" href="../static/css/style-editing.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
</head>
<body>
    
    <header>
        <img class="icon arrow" alt="arrow" src="../static/pictures/arrow-left.png" onclick="location.href='/admin'" style="cursor: pointer;">
        <p class="title">Edycja pytań</p>
    </header>

    <div class="container">
        {% for q in questions %}
        <div class="question-box">
            <div class="question-header">
                <span>Pytanie {{ loop.index }}</span>
                <div class="icons">
                    <img class="icon" src="../static/pictures/arrow-down.png" alt="arrow-down" />
                    <img class="icon" src="../static/pictures/arrow-up.png" alt="arrow-up" />
                    <img class="icon" src="../static/pictures/delete.png" alt="delete" />
                </div>
            </div>
            <div class="question-body">

                <p class="question" contenteditable="true">{{ q.text }}</p>
                <form>
                    {% for a in q.answers %}
                    <label contenteditable="true"><input type="radio" name="q{{ q.id }}">{{ a.text }}</label><br>
                    {% endfor %}
                </form>
                <p class="tag">Etykieta:</p>
                <input type="text" placeholder="Opisz pytanie jednym słowem" class="label-input" value="{{ q.label }}" />

            </div>
        </div>
        {% endfor %}

        <div class="question-box">
            <div class="question-header">
                <span>Pytanie 2</span>
                <div class="icons">
                    <img class="icon" src="../static/pictures/arrow-down.png" alt="arrow-down" />
                    <img class="icon" src="../static/pictures/arrow-up.png" alt="arrow-up" />
                    <img class="icon" src="../static/pictures/delete.png" alt="delete" />
                </div>
            </div>
            <div class="question-body">
                <p class="question">Jaka jest twoja płeć?</p>
                <form>
                    <label><input type="radio" name="gender">Kobieta</label><br>
                    <label><input type="radio" name="gender">Mężczyzna</label><br>
                    <label><input type="radio" name="gender">Osoba niebinarna</label><br>
                    <label><input type="radio" name="gender">Wolę nie podawać</label>
                </form>
                <p class="tag">Etykieta:</p>
                <input type="text" placeholder="Opisz pytanie jednym słowem" class="label-input" />
            </div>
        </div>

        <div class="button-container">
            <button class="add-button">Dodaj nowe pytanie</button>
        </div>

        <div class="button-container">
            <button class="add-button" onclick="saveQuestions()">Zapisz zmiany</button>
        </div>
    </div>

<script src="../editing.js"></script>
</body>