<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question editing</title>
    <link rel="stylesheet" href="../static/css/style-editing.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
</head>
<body>
    
    <header>
        <img class="icon arrow" alt="arrow" src="../static/pictures/arrow-left.png" data-url="{{ url_for('admin.admin_page') }}" 
        onclick="location.href = this.getAttribute('data-url')" style="cursor: pointer;">
        <p class="title">Edycja pytań</p>
    </header>

    <div class="container">
        {% for q in questions %}
        <div class="question-box">
            <div class="question-header">
                <span>Pytanie {{ loop.index }}</span>
                <div class="icons">
                    <img class="icon" src="../static/pictures/arrow-down.png" alt="arrow-down" />
                    <img class="icon" src="../static/pictures/arrow-up.png" alt="arrow-up" />
                    <img class="icon" src="../static/pictures/delete.png" alt="delete" />
                </div>
            </div>
            <div class="question-body">

                <p class="question" contenteditable="true">{{ q.text }}</p>
                <form>
                    {% for a in q.answers %}
                    <label>
                    <input type="radio" name="q{{ q.id }}">
                    <span contenteditable="true" class="editable-answer">{{ a.text }}</span>
                    </label>
                    {% endfor %}
                </form>
                <p class="tag">Etykieta:</p>
                <p contenteditable="true" class="label-input">{{ q.label }}</p>

            </div>
        </div>
        {% endfor %}

        <div class="question-box">
    <div class="question-header">
        <span>Nowe pytanie</span>
    </div>
    <div class="question-body">
        <form id="add-question-form" method="POST" action="{{ url_for('add_question') }}">
            <p class="question" contenteditable="true" id="new-question-text" data-placeholder="Treść pytania">Treść Pytania</p>
            <div id="answers-list-container">
                <label>
                    <input type="radio" name="new_question">
                    <span contenteditable="true" class="editable-answer">Odpowiedź 1</span>
                </label><br>
                <label>
                    <input type="radio" name="new_question">
                    <span contenteditable="true" class="editable-answer">Odpowiedź 2</span>
                </label><br>
                <label>
                    <input type="radio" name="new_question">
                    <span contenteditable="true" class="editable-answer">Odpowiedź 3</span>
                </label><br>
                <label>
                    <input type="radio" name="new_question">
                    <span contenteditable="true" class="editable-answer">Odpowiedź 4</span>
                </label><br>
            </div>
            <button type="button" id="add-answer-btn" title="Dodaj odpowiedź" aria-label="Dodaj odpowiedź"></button>
            <p class="tag">Etykieta:</p>
            <p contenteditable="true" class="label-input" id="new-question-label" data-placeholder="Opisz pytanie jednym słowem"></p>
        </form>
    </div>
</div>
</div>
        <div class="button-container">
            <button type="button" class="add-button" onclick="submitNewQuestion()">Dodaj pytanie</button>
        </div>

        <div class="button-container">
            <button class="add-button" onclick="saveQuestions()">Zapisz zmiany</button>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/editing.js') }}"></script>
</body>
</html>