<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form</title>
  <link rel="stylesheet" href="../static/css/style-form.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
</head>
<body>
  <div class="background-wrapper">
    <div class="form-wrapper">
      <div class="question-header">
        <h1>Pytanie 1</h1>
      </div>
      <div class="form-box">
      {% if question %}
        <h2>{{ question.text }}</h2>
        <form>
          {% for answer in question.answers %}
            <label>
              <input type="radio" name="{{ question.label }}" value="{{ answer.text }}" />
              {{ answer.text }}
            </label><br/>
          {% endfor %}
        </form>
      {% else %}
        <p>Brak pytań w bazie.</p>
      {% endif %}
    </div>
    </div>
    <div class="next-button">
      <button type="button" class="nav-button" id="next-button"
        data-href="{{ url_for('form_dynamic', question_number=1) }}"
        onclick="location.href=this.dataset.href">
        <img src="../static/pictures/arrow-next.png" alt="Dalej" style="cursor: pointer;"/>
      </button>
    </div>
  </div>
</body>
</html>
