<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form</title>
  <link rel="stylesheet" href="../static/css/style-form.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
</head>
<body>
  <div class="background-wrapper">
    <div class="form-wrapper">
      <div class="question-header">
        <h1>Pytanie 1</h1>
      </div>
      <div class="form-box">
        <h2>W jakim jesteś wieku?</h2>
        <form>
          <label><input type="radio" name="wiek" /> 18 – 25 lat</label><br/>
          <label><input type="radio" name="wiek" /> 26 – 39 lat</label><br/>
          <label><input type="radio" name="wiek" /> 40 – 54 lata</label><br/>
          <label><input type="radio" name="wiek" /> 55 – 69 lat</label><br/>
          <label><input type="radio" name="wiek" /> +70 lat</label>
        </form>
      </div>
    </div>
    <div class="next-button">
      <button type="button">
        <img src="../static/pictures/arrow-next.png" alt="Dalej" onclick="location.href='/form2'" style="cursor: pointer;"/>
      </button>
    </div>
  </div>
</body>
</html>
