<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form</title>
  <link rel="stylesheet" href="../static/css/style-form2.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" />
</head>
<body>
  <div class="background-wrapper">
    <div class="form-wrapper">
      <div class="question-header">
        <h1>Pytanie 2</h1>
      </div>
      <div class="form-box">
        <h2>{{ question.text }}</h2>
        <form>
          {% for answer in question.answers %}
            <label>
              <input type="radio" name="{{ question.label }}" value="{{ answer.text }}" />
              {{ answer.text }}
            </label><br/>
          {% endfor %}
        </form>
      </div>
    </div>
    <div class="navigation-buttons">
      <button type="button" class="nav-button" id="prev-button">
        <img src="../static/pictures/arrow-back.png" alt="Wstecz" onclick="location.href='/form'" style="cursor: pointer;"/>
      </button>
      <button type="button" class="nav-button" id="next-button">
        <img src="../static/pictures/arrow-next.png" alt="Dalej" />
      </button>
    </div>
  </div>
</body>
</html>