<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home-page{% endblock %}</title>
    {% block styles %}<link rel="stylesheet" href="../static/css/style.css" />{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" />
    {% extends 'base.html' %}
</head>
<body>
    {% block scripts %}
    <script src="../static/js/main_index.js"></script>
    {% endblock %}
</body>
</html>
