<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/test.css" />
</head>
<body>
    <div class="background">
        <div class="heading">
            <h1>Pytanie nr 2</h1>
        </div>
        <div class="form-box">
            {% if question %}
            <h2>{{ question.text }}</h2>
            <form>
                {% for answer in question.answers %}
                <label>
                    <input type="radio" name="{{ question.label }}" value="{{ answer.text }}" />
                    {{ answer.text }}
                </label><br/>
                {% endfor %}
            </form>
            {% else %}
            <p>Brak pytań w bazie.</p>
            {% endif %}
        </div>
        <div class="navigation-buttons">
            <button type="button" class="nav-button" id="prev-button"
                data-href="{{ url_for('form_dynamic', question_number=prev_number) }}"
                onclick="location.href=this.dataset.href">
                <img src="../static/pictures/arrow-back.png" alt="Wstecz" style="cursor: pointer;"/>
            </button>
            <button type="button" class="nav-button" id="next-button"
                data-href="{{ url_for('form_dynamic', question_number=next_number) }}"
                onclick="location.href=this.dataset.href">
                <img src="../static/pictures/arrow-next.png" alt="Dalej" style="cursor: pointer;"/>
            </button>
        </div>
        
    </div>
</body>
</html>